<a href="https://colab.research.google.com/github/Buvana904/Gitcode/blob/main/kafka_producer.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
pip install kafka-python

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting kafka-python
  Downloading kafka_python-2.0.2-py2.py3-none-any.whl (246 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 246.5/246.5 KB 4.2 MB/s eta 0:00:00
Installing collected packages: kafka-python
Successfully installed kafka-python-2.0.2

In [2]:
import pandas as pd
from kafka import KafkaConsumer, KafkaProducer
from time import sleep
from json import dumps
import json

In [4]:
producer = KafkaProducer(bootstrap_servers=['18.207.244.103:9092'],
                                                 value_serializer=lambda x:
                                                 dumps(x).encode('utf-8'))

In [8]:
producer.send('buvana1', value="{'Big data': 'is boring'}")

In [16]:
df = pd.read_csv("stock_market_DS.csv")

In [17]:
df.head()

,Index,Date,Open,High,Low,Close,Adj Close,Volume,CloseUSD
0,HSI,1986-12-31,2568.300049,2568.300049,2568.300049,2568.300049,2568.300049,0.0,333.879006
1,HSI,1987-01-02,2540.100098,2540.100098,2540.100098,2540.100098,2540.100098,0.0,330.213013
2,HSI,1987-01-05,2552.399902,2552.399902,2552.399902,2552.399902,2552.399902,0.0,331.811987
3,HSI,1987-01-06,2583.899902,2583.899902,2583.899902,2583.899902,2583.899902,0.0,335.906987
4,HSI,1987-01-07,2607.100098,2607.100098,2607.100098,2607.100098,2607.100098,0.0,338.923013

In [18]:
df.sample(1).to_dict(orient="records")

ERROR:kafka.conn:Connect attempt to <BrokerConnection node_id=0 host=18.207.244.103:9092 <connecting> [IPv4 ('18.207.244.103', 9092)]> returned error 111. Disconnecting.
WARNING:kafka.client:Node 0 connection failed -- refreshing metadata

[{'Index': 'N225',
  'Date': '2015-05-21',
  'Open': 20215.46094,
  'High': 20320.90039,
  'Low': 20175.7793,
  'Close': 20202.86914,
  'Adj Close': 20202.86914,
  'Volume': 181800000.0,
  'CloseUSD': 202.0286914}]

In [19]:
df.sample(1).to_dict(orient="records") [0]

{'Index': 'HSI',
 'Date': '1993-12-21',
 'Open': 10802.79981,
 'High': 10856.90039,
 'Low': 10516.7002,
 'Close': 10524.29981,
 'Adj Close': 10524.29981,
 'Volume': 0.0,
 'CloseUSD': 1368.1589753}